/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/* TOP */
.top {
    display: flex;
    width: 100%;
    height: calc(100vh - 5rem);
}

.sidebar {
    width: 15rem;
    background-color: black;
}

.content {
    background-color: #141922;
    width: calc(100% - 15rem);
/* altezza fissa 100vh meno l'altezza del footer */
    height: calc(100vh - 5rem);
    overflow-y: auto;
}

.banner-overlay {
    position: fixed;
    top: 0;
    left: 15rem;
    height: 6rem;
    width: calc(100% - 15rem);
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#upgrade-btn {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.7rem 2rem;
    margin: 0 2rem;
    border: 1px solid white;
    border-radius: 2rem;
    color: white;
    text-transform: uppercase;
}

/* BOTTOM */
.bottom {
    width: 100%;
    height: 5rem;
    background-color: #282828;
}