:root {
    --sidebar-width: 14rem;
    --sidebar-width-s: 3.5rem;
    --footer-side-width-s: 7rem;
    --bar-thickness: 6px;
    --bar-handle-size: 12px;
    --bottom-height: 5rem;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 80%;
    color: #a3a3a3;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: white;
}

ul {
    list-style: none;
}

/* TOP */
#top {
    display: flex;
    width: 100%;
    height: calc(100vh - 5rem);
}


/* SIDEBAR COMMON */
#sidebar {
    width: var(--sidebar-width);
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

#sidebar > div {
    padding: 1rem;
    width: 100%;
}

#sidebar h2 {
    color: white;
    margin-bottom: 1rem;
}

/* SIDEBAR LOGO */
#sidebar .logo img {
    height: 3rem;
}

#logo-small {
    display: none;
}

/* SIDEBAR NAV */

#sidebar #nav {
    padding: 0;
}

#sidebar #nav li {
    padding: 0.5rem 1rem;
    border-left: 3px solid transparent;
}

#sidebar #nav img {
    height: 1.5em;
    vertical-align: middle;
}

#sidebar #nav li.active {
    border-left: 3px solid #adff2f;
    color: #cecece;
}


/* SIDEBAR PLAYLIST */
#sidebar #playlist-header {
    padding-bottom: 0;
}

#sidebar #playlist-header h2 {
    font-size: 0.8rem;
}

#sidebar #playlist-list {
    padding-top: 0;
    overflow-y: auto;
    min-height: 5rem;
}

#create-playlist {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.add-icon {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    text-align: center;
    line-height: 2rem;
    vertical-align: middle;
    background-color: #a3a3a3;
    color: black;
}

#create-playlist:hover .add-icon {
    background-color: white;
}
#create-playlist:hover a {
    color: white;
}

#sidebar #playlist-list li {
    padding: 0.5rem 0;
    border-left: 3px solid transparent;
}

/* SIDEBAR BOTTOM */
#sidebar-bottom {
    margin-top: auto;
}

.download-link img {
    height: 1rem;
    vertical-align: middle;
}

#sidebar-bottom .separator {
    background-color:#a3a3a3;
    height: 1px;
    margin: 0.8rem 0;
}

.profile-pic {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: #a3a3a3;
    background-image: url('../img/profile.svg');
    background-size: cover;
    vertical-align: middle;
}

.profile-name {
    color: white;
    font-weight: 600;
}

/* SIDEBAR MEDIA QUERIES  */
@media screen  and (max-width: 768px) {
    #sidebar {
        width: var(--sidebar-width-s);
        align-items: center;
    }

    #sidebar > div {
        padding: 0.5rem;
        width: auto;
    }

    #logo-big,
    #sidebar .label,
    #sidebar .separator,
    #playlist-header,
    #playlist-list,
    .profile-name {
        display: none;
    }

    #sidebar #logo-small {
        display: inline-block;
        padding: 0.5rem;
        height: auto;
        width: 100%;
    }

    #sidebar #nav li,
    #sidebar #nav li.active {
        border: 0;
    }
    .download-link {
        text-align: center;
        margin-bottom: 0.5rem;
    }
}


/* MAIN CONTENT DIV */
/* COMMON */
#content {
    background-color: #141922;
    width: calc(100% - var(--sidebar-width));
/* altezza fissa 100vh meno l'altezza del footer */
    height: calc(100vh - 5rem);
    overflow-y: auto;
    padding: 1rem;
}

#content > div {
    padding: 0.5rem;
}

#content h2 {
    color: white;
    font-size: 1.5rem;
    margin: 1rem 0 1rem;
}

#content h3 {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

/* OVERLAID BANNER */
#banner-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: var(--sidebar-width);
    height: 6rem;
    width: calc(100% - var(--sidebar-width));
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#upgrade-btn {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.7rem 2rem;
    margin: 0 2rem;
    border: 1px solid white;
    border-radius: 2rem;
    color: white;
    text-transform: uppercase;
}

#upgrade-btn:hover {
    transform: scale(1.1);
}

@media screen  and (max-width: 768px) {
    #banner-overlay, #content {
        width: calc(100% - var(--sidebar-width-s));
    }
    #banner-overlay {
        left: var(--sidebar-width-s);
    }
}

/* BONUS */
@media screen  and (max-height: 450px) {
    #banner-overlay, #top-spacer {
        display: none;
    }
}

/* uso un div spaziatore per spingere il
contenuto sotto il banner senza "sporcare"
i div del contenuto con margini o padding
indebiti */

#top-spacer {
    height: 6rem;
    width: 100%;
}

#categories {
    text-align: center;
}

#categories li {
    display: inline-block;
    margin: 0 0.8rem;
    text-transform: uppercase;
}

#categories li.active::after {
    content: '';
    display: block;
    margin: 0.2rem auto;
    background-color: #adff2f;
    width: 2rem;
    height: 2px;
}

.card-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 6 - 1rem);
    margin: 0 0.5rem 0.5rem;
}

.card img {
    width: 100%;
}

.card .thumbnail {
    position: relative;
}

.card .thumbnail.round {
    border-radius: 50%;
    overflow: hidden;
}

.card .title {
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    color: white;
    margin-top: 1em;
}

.card .subtitle {
    text-align: center;
    margin-top: 0.8em;
}

.card:hover {
    cursor: pointer;
}

.card:hover .thumbnail:before {
    content: '\f144';
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 4rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}

@media screen  and (max-width: 1099px) {
    .card {
        width: calc(100% / 4 - 1rem);
    }
}

@media screen  and (max-width: 699px) {
    .card {
        width: calc(100% / 2 - 1rem);
    }
}


/* BOTTOM */
#bottom {
    width: 100%;
    height: var(--bottom-height);
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bottom .icons,
#bottom #volume-control {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#bottom .icons i,
#bottom #volume-control i {
    margin: 0 0.3rem;
}

#play-info, #play-controls, #play-settings {
    height: 100%;
}


/* BARS  */
.bar, .sub-bar {
    border-radius: 3px;
    position: relative;
}

.bar {
    background-color: #5a5a5a;
}

.sub-bar {
    background-color: #c1c1c1;
}

.bar:hover .sub-bar {
    background-color: #adff2f; 
}

.bar.horizontal, .sub-bar.horizontal {
    height: var(--bar-thickness);
}

.bar.vertical, .sub-bar.vertical {
    width: var(--bar-thickness);
}

.sub-bar.vertical {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bar:hover .sub-bar.horizontal::after {
    content: '';
    position: absolute;
    top: calc(var(--bar-thickness) / 2 - var(--bar-handle-size) / 2);
    right: calc(0rem - var(--bar-handle-size) / 2);
    height: var(--bar-handle-size);
    width: var(--bar-handle-size);
    border-radius: 0.5rem;
    background-color: white; 
}


/* LEFT BOTTOM */
#play-info {
    max-width: var(--sidebar-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding-left: 0.5rem;
    margin-right: 0.5rem;
}

#now-playing {
    display: flex;
    align-items: center;
}

#now-playing .details {
    margin-left: 0.5rem;
}

#now-playing h2 {
    font-size: 0.8rem;
    color: white;
}
#now-playing h3 {
    font-size: 0.7rem;
    font-weight: 500;
}

#now-playing h3 a:hover {
    text-decoration: underline;
}


#play-info .thumbnail {
    width: 3rem;
}

#play-info .thumbnail img {
    width: 100%;
}

#play-info .icons {
    font-size: 1rem;
}



/* CENTER BOTTOM */

#play-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#play-controls .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: white;
}

#play-controls .buttons .button {
    margin: 0 0.5rem;
}

#play-controls .buttons #play-pause {
    font-size: 1.8rem;
    margin: 0 0.8rem;
}
#play-controls .buttons #play-pause:hover {
    transform: scale(1.1);
}

#progress {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    font-size: 0.7rem;
    color: white;
}

#progress-bar {
    width: 25vw;
    margin: 0 0.5rem;
}

#current-progress {
    top:0;
    left: 0;
    width: 11%;
}

/* RIGHT BOTTOM */

#play-settings {
    max-width: var(--sidebar-width);
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    padding-right: 0.5rem;
    margin-left: 0.5rem;
    color: white;
}

#volume-bar {
    min-width: 5rem;
    max-width: 8rem;
    margin-left: 0.5rem;
    flex-grow: 1;
}

.sub-bar.horizontal.volume {
    width:25%;
}

/* BONUS */

#desktop-icons {
    display: flex;
    align-items: center;
}

#tablet-icons {
    display: none;
}

#volume-button {
    width: 3rem;
    height: 3rem;
    background-color: #414141;
    border-radius: 0.5rem;
    padding: 0.4rem 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.bar.vertical.volume {
    height: 2.5rem;
}

.sub-bar.vertical.volume {
    height: 25%;
}

.bar:hover .sub-bar.vertical::after {
    content: '';
    position: absolute;
    right: calc(var(--bar-thickness) / 2 - var(--bar-handle-size) / 2);
    top: calc(0rem - var(--bar-handle-size) / 2);
    height: var(--bar-handle-size);
    width: var(--bar-handle-size);
    border-radius: 0.5rem;
    background-color: white; 
}


/* MEDIA QUERIES BOTTOM */

@media screen and (max-width: 768px) {
    #play-settings, #play-info {
        max-width: var(--footer-side-width-s);

    }

    #play-info {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        margin-right: 0;
    }

    
    #play-info .icons {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #play-controls .button {
        margin: 0 0.2rem;
    }
    #play-controls .button#play-pause {
        margin: 0 0.3rem;
    }

    #play-settings .icons,
    #play-settings #volume-control {
        display: none;
    }

    #play-settings #tablet-icons {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }
    #play-settings #tablet-icons > i {
        margin-right: 0.8rem;
    }

    #play-settings .volume-bar-vertical {
        display: block;
    }

}

@media screen and (max-width: 425px) {

    #play-settings {
        justify-content: flex-end;
    }

    #play-info .details,
    #play-info .icons {
        display: none;
    }
    
    #volume-button,
    #desktop-icons {
        display: none;
    }

    #tablet-icons:hover + #desktop-icons {
        background-color: #414141;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 1rem;
        height: 3rem;
        border-radius: 0.5rem;
        position: absolute;
        bottom: var(--bottom-height);
        right: 0;
    }

    #play-settings .icons,
    #play-settings #volume-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    }
    #bottom #volume-control {
        order: -1;
    }
}
